@yellow:#fcba03;
@red:#FFFFFF;
@green:#2f9c0e;

.margin(@top:0px , @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom; 
}

.padding(@top:0px , @right:0px, @bottom:0px, @left:0px){
  padding-top: @top; 
  padding-right: @right; 
  padding-bottom: @bottom; 
  padding-left: @left;
}

.jumbotron {
  background-image: url(/imagenes/hotellobby.jpg);
  color: black;
  .margin(50px, 20px);
  background-size: cover; }

footer {
  color: white;
  background-color: @red;
  .margin(10px, 0px);
  .padding(10px, 10px, 0px, 10px); }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  .padding(0px, 10px, 0px, 0px); }

.tab-content {
  .padding(10px, 0px, 0px, 0px);}
