$yellow:#fcba03;
$red:#ad0600;
$green:#2f9c0e;

@mixin margin($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;	
}

@mixin padding($top, $right, $bottom, $left){
	padding-top: $top; 
	padding-right: $right; 
	padding-bottom: $bottom; 
	padding-left: $left;
}

.jumbotron{
	background-image: url(/imagenes/hotellobby.jpg);
	color: black;
	@include margin(50px, 20px);
	background-size: cover;
}

	footer {
	color: white;
	background-color: $red;
	@include margin(10px, 0px);
	@include padding(10px, 10px, 0px, 10px);
}

.card-hotel{
	flex: 1 200px;
	@include margin(10px, 0px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	@include padding(0px, 10px, 0px, 0px);
}

.tab-content{
	@include padding(10px, 0px, 0px, 0px);
}